* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rosybrown;
  color: #333;
  font-family: "Poppins", 'Times New Roman', Times, serif;
}
.hero {
  padding: 100px;
}

.hero__title {
  color: black;
}
.hero__description {
  color: green;
}
.hero__highlight {
  color: whitesmoke;
}

.feature{
    padding:100px;
}
.feature__item{
    padding: 30px 0;
}
.feature__title{
    font-size:2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(18, 151, 18);
    margin-bottom: 10px;
}
.feature__selected{
    text-decoration: underline;
}
.feature__description {
    text-align: center;
    word-wrap: break-word;
}
