body {
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
  font-family: "Times New Roman", Times, serif;
}
/* Nav bar css */
.nav_bar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 34, 34, 0.3);
  backdrop-filter: blur(5px);
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 10;
}
.name_logo {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.name_logo img {
  width: 40px;
  height: 40px;
  background-color: beige;
  border-radius: 50%;
  padding: 5px;
}
.name_logo h3 {
  font-weight: bolder;
  color: blanchedalmond;
  font-size: larger;
  letter-spacing: 2px;
}
.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0px 50px;
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: blanchedalmond;
}
.nav_list-item {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.nav_list-item:hover {
  color: goldenrod;
}

.home {
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 34, 34, 0.9), rgba(0, 34, 34, 0.1)),
    url("https://picsum.photos/id/13/1920/1080");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
  gap: 40px;
}
.home h1,
.home h2 {
  word-wrap: break-word;
  font-weight: bolder;
  letter-spacing: 2px;
  text-align: center;
  margin: 0px;
  text-shadow: 4px 4px rgba(0,0,0,0.3);
}
.home h1 {
  font-size: 100px;
  color:blanchedalmond;
}
.home h2 {
  font-size: 50px;
  color: whitesmoke;
}
.home button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: goldenrod;
  transition: 0.5s;
  font-size: 18px;
}
.home button:hover {
  background-color: gold;
}