body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bmF0dXJlfGVufDB8fDB8fHww');
    background-size:cover;
    font-family: sans-serif;
}
h2{
    color: aliceblue;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
}
.clock{
    display: flex;
}
.clock div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    position: relative;
}
.clock span {
    width: 50px;
    height: 50px;
    background-color: slateblue;
    color: antiquewhite;
    opacity: 0.7;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.clock .text {
    font-size: 10px;
    width: 100%;
    height: auto;
    background-color: darkblue;
    opacity: 0.7;
    color: antiquewhite;
}
.clock .apmp {
    font-size: 14px;
    width: 100%;
    height: auto;
    padding: 2px;
    background-color: green;
    opacity: 0.7;
}