body{
    padding : 0;
    margin : 0;
    background-color : #333;
    height : 100vh;
    overflow: hidden;
}

span {
    background-image: url('https://cdn-icons-png.flaticon.com/128/9484/9484251.png');
    height: 100px;
    width: 100px;
    position:absolute;
    background-size: cover;
    pointer-events: none;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    animation: animate 6s linear;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
100% {
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}