body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.input {
    visibility: hidden;
}
.label {
    width: 80px;
    height: 40px;
    position: absolute;
    background-color: firebrick;
    border-radius: 40px;
}
.circle{
    width: 34px;
    height: 34px;
    position: absolute;
    background-color: tan;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    animation: toggleOff 0.5s linear forwards;
}
.input:checked + .label {
    background-color:tan ;
}
.input:checked +.label .circle {
    background-color: firebrick;
    animation: toggleOn 0.5s linear forwards;
}
@keyframes toggleOn {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(40px);
    }
}
@keyframes toggleOff {
    0%{
        transform: translateX(40px);
    }
    100%{
        transform: translateX(0);
    }
}