body{
    margin: 0;
    padding: 0;
    background-color: goldenrod;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}
.container{
    margin: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    background-color: brown;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 8px 4px rgba(0,0,0,0.3);
}
.textarea{
    resize: none;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px thin lightgrey;
}
.counter-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: gainsboro;
}
.total-counter{
    color: lightgreen;
}
.remaining-counter{
    color: lightcoral;
}