body {
  margin: 0;
  padding: 0;
  font-family: cursive;
  background-color: antiquewhite;
}
h1 {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.color-container {
  margin: 10px;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border-radius: 10px;
  border: 2px solid black;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 32px;
  color: bisque;
}
