body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: cursive;
}
.cards-container{
    margin: 5px;
    padding: 60px 10px 10px;
    width: 300px;
    min-width: 250px;
    height: 200px;
    position: relative;
    background-color: teal;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 4px rgba(0,0,0,0.3);
}
.top-image {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top:-50px;
    border-radius: 50%;
}
.name{
    position: relative;
    text-align: center;
}
.about{
    position: relative;
}