* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6rem;
}
section {
  padding: 6rem 0;
}
.container {
  padding: 3rem 4rem;
  margin: 0 auto;
  max-width: 1500px;
}

/* Navigation Bar */
.header {
  width: 100%;
  padding: 1.5rem 0;
  background-color: #000000;
  color: #fff;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  max-width: 1500px;
  margin: 0 auto;
}
.header-logo{
  font-size: 2rem;
  font-weight: bold;
}
.header-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:2rem;
}
.header-links a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.2rem;
}
.header-links a:hover{
  color: #9c9c9c;
}

/* Feature  */
.featured{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 500px;
}
.featured-image{
  flex-basis: 50%;
  background-color: #fff;
  height: 100%;
}
.featured-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.featured-content{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.featured-content p {
  color: #4d4d4d;
}
.featured-footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}
.featured-more{
  padding: 1rem 2rem;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.featured-more:hover{
  background: #414141;
  color: #d9d8d8;
}