body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container {
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
h1 {
    font-size: 100px;
    background-color: aliceblue;
    letter-spacing: 5px;
    background-color: rgba(0,0,0,0.3);
    color: antiquewhite;
}
.btn{
    padding: 20px 40px;
    border: 2px solid grey;
    font-size: 18px;
    background-color: black;
    color: antiquewhite;
    transition:  1s;
    white-space: no-wrap;
}
.btn:hover{
    background-color: antiquewhite;
    color: black;
    padding: 30px 50px;
}
.container .left {
    width: 50%;
    background-color: pink;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1576179635662-9d1983e97e1e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGFwcGxlfGVufDB8fDB8fHww');
    background-size: cover;
    
}
.container .right {
    width: 50%;
    background-color: aquamarine;
    text-align: center;
    background-image: url('https://plus.unsplash.com/premium_photo-1674382739389-338645e7dd8c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bWFuZ298ZW58MHx8MHx8fDA%3D');
    background-size: cover;
}
.active-left .left{
    width: 75%;
}
.active-left .right{
    width: 25%;
}
.active-right .right{
    width: 75%;
}
.active-right .left{
    width: 25%;
}
.left , .right {
    transition: 2s ease-in-out;
}