body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: burlywood;
}
.btn{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 4px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}
.btn span {
    position: relative;
    color: black;
    z-index: 1;
}
.btn::before {
    content: '';
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background-color: orange;
    position: absolute;
    top: var(--xPos);
    left: var(--yPos);
    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
}
.btn:hover::before{
    width: 300px;
    height: 300px;
}