body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    text-decoration: none;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    color: black;
    background-color: royalblue;
    position: relative;
}

.btn span {
    position: relative;
    z-index: 1;
}
.btn::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: burlywood;
    top: var(--yPos);
    left: var(--xPos);
    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
    border-radius: 50%;
}

.btn:hover::before {
  width: 600px;
  height: 600px;
}
