body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: aquamarine;
    position: relative;
}
.btn{
    padding: 20px 40px;
    background-color: aliceblue;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 4px 8px rgba(0,0,0,0.3);
    overflow: hidden;
    position: relative;
}
.btn span {
    position: relative;
    z-index: 1;
    color: black;
    font-weight: bolder;
}
.btn::before{
    content: '';
    height: 0px;
    width: 0px;
    background-color: orange;
    top: var(--yPos);
    left: var(--xPos);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}
.btn:hover::before{
    width: 300px;
    height: 300px;
}